/* src/components/atoms/Input/styles.css */
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--color-soft-blue);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-white);
  outline: none;
}

.input:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.input::placeholder {
  color: var(--color-highlight);
}

.input,
textarea.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--color-soft-blue);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-white);
  outline: none;
}
